<section class="contact section has-pattern">
    <div class="container text-center">
        <div class="contact-inner">
            <h2 class="page-header">ERROR 400</h2>
             {{#if msg_error}}
                <div class="alert alert-danger">{{msg_error}}</div>
            {{/if}}
            <h1>ERROR 400</h1>

        </div>
    </div>
</section>
       
    